/* Sakura.css v1.0.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura
 */

/* Body */

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 100%;
  margin: auto;
  color: #4a4a4a;
  background-color: #f5f4f4;
  /* padding: 13px; */
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.mediumPadding {
  padding: 12px;
}

.darkbg {
  background-color: #202124;
  padding: 1px;
  min-width: 100%;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2.00em;
  color: #ffffff;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-color: #2c8898;
}

a {
  text-decoration: none;
  color: #2c8898;
}

a:hover {
  color: #982c61;
  border-bottom: 2px solid #4a4a4a;
}

ul {
  padding-left: 1.4em;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid #2c8898;
}

img {
  max-width: 100%;
}

/* Pre and Code */

pre {
  background-color: #a3a1a1;
  display: block;
  padding: 1em;
  overflow-x: auto;
}

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

pre>code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}

/* Tables */

table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

.center {
  margin-left: auto;
  margin-right: auto
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */

input,
textarea {
  border: 1px solid #4a4a4a;
}

input[type="text"] {
  width: 80%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://material.io/tools/icons/static/icons/baseline-search-24px.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.btn {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 10px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #106CC8;
  color: #ecf0f1;
  transition: background-color .3s;
}

.btn:hover,
.btn:focus {
  background-color: rgb(59, 145, 231);
}

.btn>* {
  position: relative;
}

.btn span {
  display: inline-block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

input:focus,
textarea:focus {
  border: 1px solid #2c8898;
}

textarea {
  width: 100%;
}

.button,
button,
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #106CC8;
  color: white;
  border-radius: 1px;
  border: 1px solid #2c8898;
  cursor: pointer;
  box-sizing: border-box;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: .5;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
  background-color: #982c61;
  border-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}

textarea,
select,
  {
  color: #4a4a4a;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea:focus,
select:focus,
input[type]:focus {
  border: 1px solid #2c8898;
  outline: 0;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #2c8898;
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}